@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 100%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 100%;

    --primary: 108 100% 73%;
    --primary-foreground: 0 0% 4%;

    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 8%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 12%;
    --input: 0 0% 6%;
    --ring: 108 100% 73%;

    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  input, select, textarea {
    @apply bg-background-input text-foreground;
  }

  button {
    @apply text-foreground border-primary hover:bg-primary hover:text-primary-foreground transition-colors;
  }
}